
.catalog-container{
padding:40px;
display:flex;
justify-content:center;
}

/* CAJA BLANCA GRANDE */

.catalog-box{
background:white;
border-radius:20px;
padding:40px;
width:1200px;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

/* HEADER */

.catalog-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.catalog-header h2{
font-size:24px;
color:#1f2937;
}

.catalog-header span{
color:#64748b;
font-size:14px;
}

/* GRID */

.books-grid{
margin-top:30px;
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:35px;
}

/* TARJETA LIBRO */

.book-card{
cursor:pointer;
transition:0.2s;
}

.book-card:hover{
transform:translateY(-5px);
}

/* IMAGEN */

.book-card img{
width:100%;
height:250px;
object-fit:cover;
border-radius:6px;
margin-bottom:10px;
}

/* TITULO */

.book-card h3{
font-size:16px;
font-weight:600;
color:#1f2937;
margin-bottom:4px;
}

/* AUTOR */

.author{
font-size:14px;
color:#64748b;
}